<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
  <div class="user-register-container col-md-3">
    <flash-message
      [successMessage]="successMessage"
      [errorMessage]="errorMessage">
    </flash-message>
    <form (ngSubmit)="registerUser()" class="text-center p-4 bg-light rounded">
      <div class="form-group">
        <input type="email" id="email" [(ngModel)]="email" name="email" required placeholder="Email" class="form-control mb-3">
        <input type="password" id="password" [(ngModel)]="password" name="password" required placeholder="Password" class="form-control mb-3">
        <button type="submit" class="btn btn-primary btn-block">Register</button>
      </div>
    </form>
  </div>
</div>
